/* Login & Register*/

.loginform {
    background-color: var(--bluebackgroundcolor);
    border-radius: 40px 40px 29px 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    width: 350px;
    padding-bottom: 35px;

}

.container {
    background-color: var(--bluebackgroundcolor);
    border-radius: 40px 40px 27px 27px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.gray {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.inputlogin {
    width: 300px;
    height: 25px;
    text-align: center;
    background-color: var(--tab);
    border: none;
    border-radius: 25px;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.login {

    width: 350px;
    border: none;
    height: 62PX;
    border-radius: 0 0 25px 25px;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    background-color: var(--tab);
}

input[type=submit] {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

.gray {
    color: #707070;
}

.fout {
    color: red;
    font-weight: bold;
}
.lock {
    height: 18px;
    width: auto;
}
/* Body */
body {
    background-color: var(--blackorwhitebackground);
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

