* {
    transition: ease-in-out 0.4s;
}

body {
    background-color: var(--blackorwhitebackground);
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


.dropdownicon {
    height: 7px;
    filter: var(--imagefilterwhite);
    transition: ease-in-out 0.4s;
}
.selecteddropdownicon {
    filter: var(--imagefilterallwaysblack);
}


.icon,
.search2,
.xicon {

    display: flex;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}
.cart {
    position: relative;
}

.cartproducts {
    background-color: #FC0F6E;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 3;
    opacity: 85%;
    position: absolute;
    bottom: 15px;
    left: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.search2,
.xicon {
    transition: 0.4s;
    height: 25px;
    width: 25px;
    border-radius: 20px 20px 20px 20px;

}
.search2 {
    background-color: white;
}


.divdiv {
    display: flex;
    flex-direction: column;
}
#search {
    position: absolute;
    right: 220px;
    width: 150px;
    height: 25px;
    transition: 0.4s ease-in-out;
    border: none;
    display: none;
}

#xicon {
    position: absolute;
    right: 375px;
    transition: 0.4s ease-in-out;
    display: none;
    filter: var(--imagefilterallwaysblack);
    
}

textarea:focus,
input:focus {
    outline: none;
    background-color: white;
}
input{
    background-color: white;
    color: var(--blackorwhitetextcolor);
}
.buttonsearch {
    display: none;
}

#submitbutton {
    background: transparent;
    border: none;
    height: 25px;
    width: 25px;
    font-size: 0;
    display: none;
    position: absolute;
    right: 205px;
    
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#list1, #list2, #list3, #list4{
    transition: 0.4s ease-in-out;
    display: none;
    padding: 0;
    margin: 0;
    top: 50px;
    position: absolute;
    width: auto;
    padding: 5px 65px 15px 60px;
    text-align: center;
    color: white;

}
a > li {
    padding-bottom: 15px;
    width: 200px;
    background-color: var(--blackorwhitebackground);
}
.accountbuttons {
    width: 125px;
    background-color: var(--blackorwhitebackground);
    color: var(--blackorwhitetextcolor);
}

a:link {
    color: var(--blackorwhitetextcolor);
}

    

a, ul{
    color: var(--blackorwhitetextcolor);
    list-style-type: none;
    text-decoration: none;
}
#colorbottom1, #colorbottom2, #colorbottom3, #colorbottom4{
    transition: 0.4s ease-in-out;
    display: none;
    position: absolute;
    width: auto;
    top: 275px;
    padding: 5px 207px 15px 0px;
    height: 15px;
    border-radius: 0px 0px 15px 15px;

    background-color: var(--bluebackgroundcolor);
}
#colorbottom2 {
    padding: 5px 198px 15px 0px;
    top: 155px;
}
#colorbottom3{
    padding: 5px 236px 15px 0px;
    top: 120px;
}
#colorbottom4{
    padding: 5px 125px 15px 0px;
    top: 140px;
}
#tab4 {
    width: 30px;
    height: 30px;
    background-color: none;
}
.tabs2{
    filter: var(--imagefilterallwayswhite);
    transition: 0.4s ease-in-out;
    text-align: center;
    width: auto;
    padding: 12px 50px 12px 50px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px 15px 0px 0px;
    background-color: none;

}
#dropdownicon4{
    display: none;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bluebackgroundcolor);
    color: #ffffff;
    flex-direction: row;
}

.notchlogo {
    display: flex;
    margin-right: 125px;
    margin-left: 80px;
    height: 40px;
    width: auto;
}
.tab{
    background-color: var(--blackorwhitebackground);
    color: var(--blackorwhitebackground);
    width: auto;
    padding: 5px 50px 15px 50px;
    margin-top: 26px;
    border-radius: 15px 15px 0px 0px;
    transition: 0.4s ease-in-out;
}


.endnav {
    display: flex;

}

.middlenav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tabs {
    transition: 0.4s ease-in-out;
    text-align: center;
    width: auto;
    padding: 5px 50px 15px 50px;
    margin-top: 26px;
    color: white;
    border-radius: 15px 15px 0px 0px
}
a:visited {
    color: var(--blackorwhitetextcolor);
  }
.selectedtab {
    background-color: var(--blackorwhitebackground);
    color: var(--blackorwhitetextcolor);
    width: auto;
    padding: 5px 50px 15px 50px;
    margin-top: 26px;

    border-radius: 15px 15px 0px 0px
}


.search2:hover{
    cursor: pointer;
}
#searchimage{
    filter: var(--imagefilterallwaysblack);
}
@media screen and (max-width: 100px) {
    .buttons {
        opacity: 0;
        display: none;
    }
    
    }
.selectedlogin {
    background-color: var(--blackorwhitebackground);
    filter: var(--imagefilterblack);
}
#burgerlines {
    position: absolute;
    right: 50px;
    display: none;
    flex-direction: column;
    background-color: none;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
    height: 30px;
    background-color: none;
    margin-top: 5px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
    width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    transition: ease-in-out 0.4s;
}
.burgerline {
    transition: ease-in-out 0.4s;
    transform: rotate(0deg);
    top: 0px;
    position: relative;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 25px;
}
@media screen and (min-width: 1260px) { 
    #hideburgeritems {
        display: none;
    }
}
@media screen and (max-width: 1260px) {
    .cart {
        position: absolute;
        top: 25;
        right: 10px;
    }
    .buttons {
        opacity: 0;
        display: none;
    }
    .middlenav {
        display: none;
    }
    #burgerlines {
        display: flex;
    }
    .allsearch {
        position: absolute;
        right: 160px
    }
    #search {
        position: absolute;
        right: 50px;
        background-color: white;
    }
    
    #xicon {
        position: absolute;
        right: 190px;    
    }
    #submitbutton {
        right: 15px;
    }

    }
    #burgermenuitems {
        z-index: 2;
        transition: ease-in-out 0.4s;
        display: none;
        top: 50px;
        left: 0;
        right: 0;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #burgermenuitems > a > li {
        transition: ease-in-out 0.4s;
        display: flex;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 50px;
        align-items: center;
        border-bottom: #d2d2d2 solid 1px;
        background-color: var(--blackorwhitebackground);
        justify-content: center;

        
    }

    
    #burgermenuitems > a {
        transition: ease-in-out 0.4s;
        padding: 0;
        margin: 0;
        border: none;
        opacity: 0;

    }
    .my-class {
        transition: ease-in-out 0.4s;
        opacity: 1;
    }
    
    .maincatburger {
        transition: ease-in-out 0.4s;
        font-weight: bold;
        border-bottom: #d2d2d2 solid 3px;
    }
