.alignitems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.images {
    margin-top: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 250px;
    height: auto; 
}

.info {
    text-align: center;
}

.innerflex {
    display: flex;
    flex-direction: column;
}
table {
    margin-top: 250px;
}
table, th {
    border-spacing: 0px;
    padding: 5px;
    border-style: solid;
    text-align: center;
}
td {
    padding: 5px;
    border-style: solid;
    text-align: center;
}